[submodule "src/memcache-hazelcast"]
	path = src/memcache-hazelcast
	url = https://github.com/cloudfoundry-community/memcache-hazelcast.git
[submodule "src/memcache-broker"]
	path = src/memcache-broker
	url = https://github.com/cloudfoundry-community/memcache-broker.git
[submodule "src/memcache-ping"]
	path = src/memcache-ping
	url = https://github.com/cloudfoundry-community/memcache-ping.git
[submodule "src/cf-java-component"]
	path = src/cf-java-component
	url = https://github.com/cloudfoundry-community/cf-java-component.git
